body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.blue-rectangle{
    display: flex;
    background-color: aqua;
    color: black;
    padding: 12px 24px;
    align-items: center;
    width: 200px;
    height: 90px;
    font-size: 18px;
    box-sizing: border-box;
}